html{
    background-color: black;
}
.img{
    text-align: center;
}
.pfp{
  width: 10%;
  border-radius: 50%;
}
.companions{
    width: 3.5%;
}
.links{
  text-align: center;
}
.container{
  height: 9vh;
}
.link{
  text-decoration: none;
  font-size: x-large;
  color: mintcream;
  font-family: 'Times New Roman', Times, serif;
  padding: 1% 5%;
  border-style: ridge;
  border-radius: 200px;
  border-color: beige;
}
.link:hover{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: .75% 5%;
  font-weight: bold;
  font-size:xx-large;
  color: #020062;
  background-color: #5978a7;
  border-color: white;
  border-style: groove;
  transition: 1s;
}
.bio{
  position: absolute;
  bottom:3%;
  left: 5%;
  right: 5%;
  width: 90%;
  color: white;
  text-align: center;
}
  