html{
  background-color: black;
}
#terminal-body{
  position: relative;
}
#link{
  text-decoration: none;
}
.link{
  position: relative;
  left: 30%; right: 30%;
  text-align: center;
  width: 40%;
  padding: 1%;
  border:1vh;
  border-radius: 25px;
  border-style: inset;
  border-color: steelblue;
  font-size: 5vh;
  font-family: 'Times New Roman', Times, serif;
  color: mintcream;
}
.link:hover{
  border-style: groove;
  border-color: goldenrod;
  font-size: 6vh;
}
