html{
  background-color: black;
  background-image: url("media/Background.jpg");
  background-size: cover;
}
a{
  outline: none;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px black;
  font-family: sans-serif;
  font-style:bold;
}
div{
  border-style:solid;
  filter: blur(2px);
}
div:hover{
  background-size: cover;
  filter: blur(0px);

}
.github{
  width: 78%;
  height:30vh;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
  text-anchor: middle;
  font-size: 15vmin;
  background-color: black;
  background-image: url("media/GitHubBanner.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.linkedin{
  width: 78%;
  height: 30vh;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
  text-anchor: middle;
  font-size: 15vmin;
  background-color: black;
  background-image: url("media/LinkedInBanner.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.facebook{
  width: 78%;
  height: 30vh;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
  text-anchor: middle;
  font-size: 15vmin;
  background-color: black;
  background-image: url("media/FacebookBanner.png");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.instagram{
  width: 18%;
  height: 75vh;
  float: right;
  vertical-align: top;
  vertical-align: middle;
  text-align: center;
  text-anchor: middle;
  writing-mode: vertical-lr;
  font-size: 15vmin;
  text-orientation:sideways-right;
  background-color: black;
  background-image: url("media/InstagramBanner.png");
  background-size: 600% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.of{
  width: 18%;
  height: 16vh;
  float: right;
  vertical-align: top;
  vertical-align: middle;
  text-align: center;
  text-anchor: middle;
  writing-mode: vertical-lr;
  font-size: 15vmin;
  text-orientation:sideways-right;
  background-color: black;
  background-image: url("media/of.png");
  background-size: 600%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
