html{
  background-color: black;
}
.img{
  text-align: center;
}
.pfp{
  width: 30%;
  border-radius: 50%;
}
.companions{
  width: 10%;
}
.links{
  text-align: center;
}
.container{
  height: 10vh;
}
.link{
  text-decoration: none;
  font-size:x-large;
  color: mintcream;
  font-family: 'Times New Roman', Times, serif;
  padding: 1% 30%;
  border-style: ridge;
  border-radius: 200px;
  border-color:beige;
}
.link:hover{
  color: #020062;
  background-color: #5978a7;
  border-color: white;
  border-style: groove;
  transition: 1.5s;
}
.bio{
  position: absolute;
  width: 90%;
  bottom:3%;
  left: 5%;
  right: 5%;
  color: white;
  text-align: center;
}
